body {
    font-family: Montserrat;
}

nav {
    z-index: 2;
    -webkit-box-shadow: -2px 3px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 15px -5px rgba(0, 0, 0, 0.75);
}





/**** Navbar ****/

.cont-btn-search {
    height: 50px;
    position: relative;
}

.cont-btn-search input[type="text"] {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 20px 0 10px;
    outline-color: #000;
    border: 0;
    border-radius: 2px;
    background: #fafafa;
    font-family: Poppins;
}

.cont-btn-search button {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.cont-btn-search button i {
    vertical-align: middle;
    color: #9E9E9E;
    font-size: 30px;
    transition: all 0.5s ease;
}

.cont-btn-search button:hover>i,
.cont-btn-search button:focus>i {
    color: #ee171f;
}

.addRandom {
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    padding: 0;
    display: table;
    margin: 0;
}

.addRandom span {
    display: table-cell;
    vertical-align: middle;
    background: url(../images/addRandom.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.ajs-message.ajs-custom { color: #31708f;  background-color: #d9edf7;  border-color: #31708f; }
/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


/**** cont-app *****/

.cont-app {
    height: calc(100% - 60px);
}



/**** sort ***/

.text-sort {
    font-weight: 600;
    font-size: 1.6em;
    vertical-align: middle;
    color: #424242;
}




/**** cards or list Characters ****/

.img-character {
    border-radius: 100%;
    max-width: 110%;
    margin-top: -20px;
    margin-left: -30px;
    -webkit-box-shadow: 3px 5px 16px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 16px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 5px 16px -7px rgba(0, 0, 0, 0.75);
    min-width: 190px;
    min-height: 190px;
    max-height: 230px;
    max-width: 230px;
    height: 230px;
    width: 230px;
}

.text-character {
    margin-top: -11px;
    font-weight: 700;
    color: #424242;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.description-character {
    font-size: 0.8em;
    color: #796f6e;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 22px;
    max-height: 150px;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    font-family: Poppins;
     margin-top: 15px;
}

.btn-character {
    border: 0;
    outline: none;
    color: #fff;
    background-color: #ec1e23;
    padding: 10px;
    font-weight: 600;
    font-size: 0.7em;
    cursor: pointer;
    bottom: 5px;
    position: absolute;
}


.title-related {
    font-weight: 700;
    color: #616161;
}

.title-favorites {
    font-weight: 700;
    color: #424242;
    margin-top: 15px;
}

.description-related p {
    font-size: 0.8em;
    color: #616161;
    font-family: Poppins;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.p-no-result {
    margin-bottom: 52px;
}




/** buttons pages next */

.btns-pages {
    height: 60px;
    overflow: hidden;
    padding: 0;
}

.btns-pages button {
    cursor: pointer;
    border: 0;
    border-radius: 0;
    height: 40px;
    width: 40px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(178, 178, 178, 0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(178, 178, 178, 0.75);
    box-shadow: 0px 1px 8px 0px rgba(178, 178, 178, 0.75);
    color: #c5c1c2;
    font-weight: 600;
    outline-color: #ccc;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.5s;
    outline: none;
}

.btns-pages button:hover {
    color: #424242;
    width: 50px;
    height: 50px;
}

.btns-pages button i {
    vertical-align: top;
}

.btn-pages-select {
    box-shadow: none !important;
    color: #424242 !important;
}



/* favorites */

.img-title-f {
    margin-right: 10px;
    margin-left: -10px;
}

.icon-delete {
    background: #000;
    color: #fff;
    border-radius: 100px;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    transition: all 0.5s;
}

.icon-delete:hover {
    background: #ec1e23;
}



/** modal **/

.modal.show .modal-dialog {
    max-width: 600px;
}


.modal-content {
    border-radius: 0;
    border: 0;
}

.modal-header {
    border: 0;
    padding: 10px 10px 0 0;
}

.modal-header i {
    border-radius: 100px;
    background: #2e2828;
    color: #fff;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}


.modal-body {
    padding-top: 0;
}

.modal-body .img-modal {
    width: 100%;
    max-width: 220px;
}

.modal-body .title-body-modal {
    font-weight: 700;
    color: #424242;
}

.modal-body p {
    font-size: 0.8em;
    color: #616161;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
}

.modal-footer {
    padding: 0;
    border: 0;
}

.modal-footer-mv {
    width: 100%;
    position: relative;
    height: 60px;
    overflow: hidden;
}

.modal-footer-mv button {
    width: 50%;
    float: right;
    border: 0;
    font-family: Roboto;
    height: 100%;
    font-size: 0.8em;
    outline: none;
    cursor: pointer;
    color: #ec1d23;
    font-weight: 800;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.7s ease;
}

.modal-footer-mv button:hover {
    background: #a7a7a7;
}

.modal-footer-mv .btn-add-mv {
    color: #3c3231;
    background: #f0f0f0;
    bottom: 0;
    position: absolute;
    height: 0;
    border: 0;
    overflow: hidden;
}

.modal-footer-mv button img {
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}







/**** global ****/

.text-upper {
    text-transform: uppercase;
}

p {
    word-wrap: break-word;
}

.height-100 {
    height: 100% !important;
}

.bg-dark2 {
    background-color: #2d2727;
}

.bg-light2 {
    background-color: #f4f4f4;
}

.bg-light3 {
    background-color: #ebebeb;
}

.bg-light4 {
    background-color: #dcdcdc;
}

.bg-dark3 {
    background-color: #322827;
}

.text-dark2 {
    color: #424242;
}

.color-dark2 {
    color: #2d2727;
}

.card {
    border-radius: inherit;
    border: none;
}

select {
    border-radius: 1px;
    width: 100%;
    height: 50px;
    padding: 10px;
    outline-color: #000;
}

.pointer {
    cursor: pointer;
}





/** loading */

.cs-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background: #00000069;
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    color: #FFF;
    text-align: center;
    width: 100%;
}

.cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    font-size: 40px;
    color: #400f0d;
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}


@media (max-width: 768px) {

    [class*="col-"] {
        margin-bottom: 10px;
    }

    .img-character {
        min-width: 160px;
        min-height: 160px;
        height: 160px;
        width: 160px;
    }

    .cont-app {
        height: calc(100% - 140px);
    }

    .btn-character {
        position: relative;
    }
}
